<!doctype html>
<html lang="en">
  <head>
  	<title>DEVTRUST</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4 pt-5">
		  		<h1><a href="index.html" class="logo"></a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
				<a href="/">Home</a>
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Metrics</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/premium">Insurance Logic</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
	            </ul>
	          </li>
	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Payment in installment</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
				<form action="/loan" method="POST">
                
				<select name="number" class="form-control">
					<option value="select">select</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				  </select>
				<button class="btn btn-success" type="submit">submit</button>
			</form>
              </ul>
	          </li>
	        </ul>

	        <div class="mb-5">
						<h3 class="h6">Email Address</h3>
						<form action="#" class="colorlib-subscribe-form">
	            <div class="form-group d-flex">
	            	<div class="icon"><span class="icon-paper-plane"></span></div>
	              <input type="text" class="form-control" placeholder="Enter Email Address">
	            </div>
	          </form>
					</div>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://devtrust.biz/" target="_blank">devtrust.biz</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
		  <h2><strong>HISTORICAL DATA</strong></h2>
		  <h6>This is dummy data</h6>
		<table class="table table-striped table-hover " id="histdata">
			<thead>
				<tr>
					<th scope="col">Sr.No.</th>
					<th scope="col">Date</th>
					<th scope="col">Actual Temperature(in Celcius)</th>
					<th scope="col">Actual Precipitation(in mm)</th>
				</tr>
			</thead>
			<tbody>
			
				{% for res in data1 %}
					<tr>
						<th scope="row">{{ loop.index }}</th>
						<td>{{ res.dt }}</td>
						<td>{{ res.act_temp }}</td>
						<td>{{ res.rainfall_act }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<h2><strong>Forecasted Data</strong></h2>
		<h6>Forecasted data from weather-api</h6>
		<table class="table table-success table-striped " id="preddata">
			<thead>
				<tr>
					<th scope="col">Sr.No.</th>
					<th scope="col">Date</th>
					<th scope="col">Forecasted Temperature(in Celcius)</th>
					<th scope="col">Forecasted Precipitation(in mm)</th>
				</tr>
			</thead>
			<tbody>
			
				{% for res in df %}
					<tr>
						<th scope="row">{{ loop.index }}</th>
						<td>{{ res.dt }}</td>
						<td>{{ res.Predicted_temp }}</td>
						<td>{{ res.rainfall_predicted }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
{% block content %}
		
{% endblock %}
		</div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>







	<script>
		function myFunction() {
			var x = document.getElementById("mySelect").value;
			
			$.ajax({
				type: "POST",
				dataType: "json",
				data: {data : x},
				url: '/loan',
				success: function(response) {
					alert(response);
				}
			});
		  }
		</script>

  </body>
</html>